<h1>Find out your Scrabble score</h1>
<form  action='/result' method="get">
  <div class="form-group">
    <label for="score">Enter a word or sentence!</label>
    <input type="score" name="score" type="text">
  </div>
  <button type="submit" class="btn">Check Score</button>
</form>
